.allContainer {
  .bankContainer {
    height: 18.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 15.6vw;
    }
  }
  .searchContainer {
    height: 6.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .search {
      display: flex;
      width: 31.25vw;
      height: 100%;
      box-shadow: -2px -2px 4px rgba(237, 237, 237, 0.5),
        2px 2px 4px rgba(242, 242, 242, 0.5),
        -4px -4px 4px rgba(255, 255, 255, 0.53),
        4px 4px 4px rgba(230, 230, 230, 0.5);
      border-radius: 10px;
      .icon {
        height: 100%;
        margin-left: 1vw;
        font-size: 24px;
        color: rgba(255, 0, 0, 1);
        line-height: 6.4vh !important;
        display: inline-block;
      }
      input {
        margin-left: 1vw;
        margin-top: 0.5vh;
        border-color: #878787;
        border-style: solid;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        width: 90%;
        height: 90%;
      }
      input:focus {
        outline: none;
        border-color: #878787;
        border-style: solid;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
      }
    }
  }
  .searchAndSort {
    height: 4vh;
  }
  .sortContainer {
    height: 3.2vh;
    width: 28.6vw;
    position: relative;
    left: 35.6vw;
    display: flex;
    justify-content: space-between;
    .sortItem {
      padding-left: 1vw;
      box-shadow: -2px -2px 4px rgba(255, 255, 255, 1),
        2px 2px 4px rgba(212, 212, 212, 0.5);
      border-radius: 8px;
      flex: 1;
      text-align: center;
      color: rgba(112, 112, 112, 1);
      font-size: 16px;
      .icon {
        color: rgba(255, 0, 0, 1);
        line-height: 2.5vh;
      }
    }
  }
  .mainContainer {
    height: 48.7vh;
    width: 90vw;
    margin: 3vh 5vw 0 5vw;
    background-color: rgba(249.9, 249.9, 249.9, 1);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.39),
      5px 5px 5px rgba(227, 227, 227, 0.5);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(5, 16%);
    grid-template-rows: repeat(5, 35%);
    grid-row-gap: 7vh;
    grid-column-gap: 3.5vw;
    padding-top: 7.5vh;
    box-sizing: border-box;
    padding-left: 5vw;
    .mainItem {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 1);
      border: 0.5px solid rgba(0, 0, 0, 1);
      box-shadow: -3px -3px 4px rgba(255, 255, 255, 1),
        3px 3px 4px rgba(227, 227, 227, 0.5);
      border-radius: 15px;
      box-sizing: border-box;
      padding: 1vh;
      .top {
        height: 25%;
        display: flex;
        position: relative;
        .state {
          width: 14px;
          height: 14px;
          border-radius: 100%;
          background-color: rgba(235, 0, 0, 1);
        }
        .isPublic {
          background-color: rgba(72, 227, 0, 1);
        }
        .text {
          margin-left: 0.4vw;
          line-height: 2vh;
          font-size: 14px;
        }
        .delete {
          width: 25px;
          height: 25px;
          color: red;
          position: absolute;
          right: 0;
          cursor: pointer;
        }
      }
      .date {
        font-family: "Source Han Sans CN";
        font-family: "noto sans";
        font-size: 10px;
        color: rgba(166, 166, 166, 1);
        position: absolute;
      }
      .middle {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .bottom {
        display: flex;
        position: relative;
      }
      .buttonContainer {
        position: absolute;
        right: 0;
        display: flex;
        .btn {
          width: 30px;
          height: 25px;
          box-shadow: -2px -2px 4px rgba(255, 255, 255, 1),
            2px 2px 4px rgba(184, 184, 184, 0.5);
          border-radius: 8px;
          cursor: pointer;
          color: white;
          text-align: center;
          line-height: 25px;
          font-size: 14px;
        }
        .down {
          background: rgba(252, 63, 63, 1);
        }
        .up {
          background-color: rgba(72, 227, 0, 1);
          margin-left: 0.3vw;
        }
        .isPubliced {
          background: rgba(171, 171, 171, 1);
          cursor: not-allowed;
        }
      }
    }
    .add {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: rgba(166, 166, 166, 1);
      cursor: pointer;
    }
  }
  .bottomContainer {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dialog {
    display: grid;
    grid-template-columns: repeat(2, 9vw);
    grid-template-rows: repeat(6, 12%);
    grid-row-gap: 3vh;
    grid-column-gap: 3.5vw;
    input {
      width: 100%;
      height: 60%;
      box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5),
        2px 2px 4px rgba(227, 227, 227, 0.5),
        -3px -3px 4px rgba(255, 255, 255, 0.78),
        3px 3px 4px rgba(207, 207, 207, 0.5);
      border-radius: 10px;
      border: none;
      text-align: center;
    }
    input:focus {
      outline: none;
    }
    .label {
      font-size: 9px;
    }
    #number {
      cursor: not-allowed;
    }
  }
  .dialog-footer {
    .btnContainer {
      height: 5vh;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      .left,
      .right {
        width: 100px;
        height: 30px;
        cursor: pointer;
        line-height: 30px;
        font-size: 9px;
        box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.78),
          3px 3px 4px rgba(207, 207, 207, 0.5);
        border-radius: 10px;
        text-align: center;
      }
      .left {
        color: rgba(252, 63, 63, 1);
      }
      .right {
        color: rgba(72, 227, 0, 1);
      }
    }
    .new {
      justify-content: center;
    }
  }
}
