.flow {
  //   .topContainer {
  //     background: rgba(255, 255, 255, 1);
  //     height: 4.3vh;
  //     .topleftContainer {
  //       height: 100%;
  //       display: flex;
  //       align-items: center;
  //       .bank {
  //         margin-left: 0.67vw;
  //         width: 100px;
  //       }
  //       .deliver {
  //         margin-left: 0.8vw;
  //         width: 0px;
  //         height: 55%;
  //         border: 0.1px solid rgba(217, 87, 87, 1);
  //       }
  //       .back {
  //         height: 2.5vh;
  //         margin-left: 0.8vw;
  //       }
  //       .serverText {
  //         color: rgba(0, 0, 0, 0.9);
  //         font-size: 13px;
  //         margin-left: 0.8vw;
  //         font-weight: 600;
  //       }
  //     }
  //   }
  .bottomContainer {
    height: 95.6vh;
    display: flex;
    background-color: rgb(242, 242, 242);
    .left {
      width: 220px;
      position: relative; //子绝父相
      border-radius: 0 10px 10px 0;
      background: rgba(247, 247, 247, 1);
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
      z-index: 999;
      .menuContainer {
        height: 68%;
        width: 100%;
      }
      .deliverContainer {
        height: 3%;
        background: rgba(247, 247, 247, 1);
        .deliverImage {
          width: 100%;
        }
      }
      .modelContainer {
        height: 26%;
        width: 100%;
        .switch {
          width: 90%;
          height: 18%;
          margin: 7% 0 0 5%;
          background: white;
          border-radius: 10px;
          box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.5) !important;
          box-shadow: 3px 3px 4px rgba(222, 222, 222, 0.5) !important;
          display: flex;
          align-items: center;
          justify-content: center;
          .first,
          .second,
          .third {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .deliver {
            width: 0px;
            height: 55%;
            border: 0.1px solid rgba(217, 87, 87, 1);
          }
          .icon {
            cursor: pointer;
          }
        }
        .panel {
          width: 90%;
          height: 68%;
          background: white;
          margin-top: 8%;
          margin-left: 5%;
          border-radius: 10px;
          box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.5) !important;
          box-shadow: 3px 3px 4px rgba(222, 222, 222, 0.5) !important;
          .first {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .name {
              margin-top: 2vh;
              margin-left: 2vw;
            }
            input {
              width: 60%;
              margin-left: 0.2vw;
              border-color: #878787;
              border-style: solid;
              border-top-width: 0px;
              border-right-width: 0px;
              border-bottom-width: 1px;
              border-left-width: 0px;
            }
            input:focus {
              outline: none;
              border-color: #878787;
              border-style: solid;
              border-top-width: 0px;
              border-right-width: 0px;
              border-bottom-width: 1.5px;
              border-left-width: 0px;
            }
            .btn {
              width: 157px;
              height: 36px;
              margin-top: 2vh;
              line-height: 36px;
              color: white;
              border-radius: 5px;
              text-align: center;
              cursor: pointer;
              background: linear-gradient(
                to right,
                rgba(255, 0, 0, 0.75),
                rgba(255, 107, 33, 0.75)
              );
            }
          }
          .second {
            height: 100%;
            width: 100%;
            .modelTop {
              padding-left: 1vw;
              height: 25%;
              display: flex;
              .modelText {
                flex: 1;
                color: rgba(0, 0, 0, 0.9);
                font-size: 12px;
                font-weight: 600;
                line-height: 4vh;
              }
              .modelSearch {
                height: 100%;
                flex: 2;
                display: flex;
                align-items: center;
                input {
                  width: 70%;
                  margin-left: 0.2vw;
                  border-color: #878787;
                  border-style: solid;
                  border-top-width: 0px;
                  border-right-width: 0px;
                  border-bottom-width: 1px;
                  border-left-width: 0px;
                }
                input:focus {
                  outline: none;
                  border-color: #878787;
                  border-style: solid;
                  border-top-width: 0px;
                  border-right-width: 0px;
                  border-bottom-width: 1.5px;
                  border-left-width: 0px;
                }
              }
            }
            .modelBottom {
              height: 60%;
              width: 95%;
              overflow: auto;
              .item {
                margin-left: 2vw;
                display: flex;
                .itemText {
                  margin-left: 0.5vw;
                  font-size: 10px;
                  cursor: pointer;
                }
                .delete {
                  float: right;
                  margin-left: auto;
                  margin-right: 1vw;
                  font-size: 10px;
                  color: red;
                  cursor: pointer;
                }
              }
              &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.8);
              }
              &::-webkit-scrollbar {
                width: 5px;
                background-color: rgba(0, 0, 0, 0);
              }
              &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                -webkit-box-shadow: inset 0 0 5px #979090;
                background-color: #555;
              }
            }
          }
        }
      }
    }
    .middle {
      flex: 1;
      overflow: hidden;
    }
    .right {
      height: 100;
      width: 220px;
      position: relative;
      .attr {
        height: 64.5vh;
        border-radius: 10px 0 0 10px;
        background: rgba(247, 247, 247, 1);
        box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.2);
        z-index: 999;
        overflow-y: auto;
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.8);
        }
        &::-webkit-scrollbar {
          width: 5px;
          background-color: rgba(0, 0, 0, 0);
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          -webkit-box-shadow: inset 0 0 5px #979090;
          background-color: #555;
        }
        .title {
          height: 3.2vh;
          border-radius: 10px 0 0 0;
          background: rgba(237, 237, 237, 1);
          display: flex;
          justify-content: center;
          .titleText {
            width: 33%;
            text-align: center;
            font-size: 12px;
            line-height: 3.2vh;
            border-bottom: 3px solid rgba(217, 87, 87, 1);
          }
        }
        .cptContainer {
          margin: auto;
          width: 80%;
          .attrName {
            padding: 5px;
          }
        }
      }
      .testRes {
        height: 22.1vh;
        width: 100%;
        margin-top: 1vh;
        padding-top: 1vh;
        padding-left: 1vw;
        box-sizing: border-box;
        border-radius: 10px 0 0 10px;
        background: rgba(247, 247, 247, 1);
        box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.2);
        z-index: 999;
        .resTop {
          height: 10%;
          display: flex;
          .resText {
            font-size: 16px;
            font-weight: 400;
          }
        }
        .resDeliver {
          display: block;
          height: 2px;
          width: 90%;
          margin: 7px 0;
          background-color: #dcdfe6;
          position: relative;
        }
        .resBottom {
          font-size: 16px;
        }
      }
      .lastButton {
        height: 5vh;
        margin-top: 1vh;
        width: 100%;
        display: flex;
        .button {
          width: 47%;
          background: rgba(255, 255, 255, 1);
          box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          font-family: "思源黑体";
          text-align: center;
          line-height: 5vh;
          cursor: pointer;
        }
        .next {
          margin-left: 0.5vw;
          color: rgba(204, 24, 24, 1);
        }
      }
    }
  }
}
